adventofcode2022/obj/
adventofcode2022/bin/
.idea/
.editorconfig
.vs/
UpgradeLog.htm
Backup/
adventofcode2024/bin/
adventofcode2024/obj/adventofcode2024.csproj.nuget.dgspec.json
adventofcode2024/obj/
